# Xcode
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcuserdatad
xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa

# Tuist
.tuist/
Tuist/.build/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# macOS
.DS_Store
